.button {
  border: none;
  color: Wheat;
  padding: 1vmin 2vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Garamond;
  font-size: 24px;
  margin:  0.5vmin;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: Wheat; 
  color: black; 
  border: 2px solid Wheat;
}

.button1:hover {
  background-color: Tan;
  color: white;
  border: 2px solid Wheat;
}

h1{
  text-shadow: 5px 5px 5px Tan;
  background-color: Wheat;
  color: Black;
  font-family: Lucida Handwriting;
  font-size: 40px;
  text-align: center;
}

h2{
  font-family: Garamond;
  font-size: 23px;
}

h3{
  font-family: Garamond;
  font-size: 23px;
}

dl{
  font-family: Garamond;
  font-size: 18px;
}

img{
  margin: 1em;
  margin-right: 2em;
  margin-top: 1em;
}

.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 50em;
}

div{
  margin: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
}

br{
  font-size: 60%
}

li{
  float: left;
  }

li.dropdown{
  display: inline-block;
}

ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:Wheat;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

body {
  background-image: url('https://images.rawpixel.com/image_png_800/cHJpdmF0ZS90ZW1wbGF0ZXMvZmlsZXMvY3JlYXRlX3Rvb2wvMjAyMy0wNy8wMWdwd2t3djF3bWFoMWZkN250azBzOHE3YS1sa2I1OXowZS5wbmc.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
