.button {
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Garamond;
  font-size: 24px;
  margin:  0.5vmin;
  transition-duration: 0.4s;
  text-align: center;
  cursor: pointer;
}

.button1 {
  background-color: rgb(245, 222, 179, 0);
  color: black; 
  border: 2px solid Wheat;
}

.button1:hover {
  background-color: Tan;
  color: white;
  border: 2px solid Wheat;
}

h1{
  text-shadow: 5px 5px 5px #bf935a;
  background-color: Wheat;
  color: Black;
  font-family: Lucida Handwriting;
  font-size: 40px;
  text-align: center;
}

h2{
  font-family: Garamond;
  font-size: 23px;
}

h3{
  font-family: Garamond;
  font-size: 23px;
}

dl{
  font-family: Garamond;
  font-size: 18px;
}

img{
  margin: 1em;
  margin-right: 2em;
  margin-top: 1em;
}

.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 50em;
}

div{
  margin: 1em;
  margin-left: 1em;
  margin-top: 0.5em;
}

li{
  float: left;
  font-size: 23px;
  background-color: rgb(245, 222, 179, 0.5);
  }

li.dropdown{
  display: inline-block;
  bottom: 1px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(245, 222, 179, 0), rgb(240, 206, 142, 1));
    bottom: 0px;
    width: 100%;
    height: 7em;
    ist-style-position: inside;
}

.disabled {
  cursor: default;
  opacity: 0.6;
}

body {
  background-image: url('https://images.rawpixel.com/image_png_800/cHJpdmF0ZS90ZW1wbGF0ZXMvZmlsZXMvY3JlYXRlX3Rvb2wvMjAyMy0wNy8wMWdwd2t3djF3bWFoMWZkN250azBzOHE3YS1sa2I1OXowZS5wbmc.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
